body {
    text-align: center;
    margin: 0;
    background-image: url("../images/crystalball.jpg");
    /* background-size: 100%; */
    color: white;
    font-family: 'The Girl Next Door', cursive;
}

h1 {
    font-size: 48px;
}
